:root{
    --primary-text-color:#757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --primary-white-color: #ffffff;
}


.body {
    color:var(--primary-text-color);
    background-color: #ffffff;
}
.list{
    list-style: none;
}

/* Button */
.button{
    color: var(--primary-white-color);
    background-color: var(--accent-text-color);

}

.botton.primary {
color: var(--primary-white-color);
background-color: var(--accent-text-color);
}


/*secondary text #212121 */
/*main  text #757575 */
/* white #FFFFFF */
/* blue #2196F3*/
/* footer rgba(255, 255, 255, 0.6) */
/* background #F5F5F5 */
/* bacgraund grey #F5F4FA */
/* background akcent #2F303A */

/* Header */
.header {
    
}
/* Navigation */


.nav-logo {
    color: #000000;
}
.nav {
    color: var(--title-text-color);
    
}

.list a:hover,
.list a:focus{
    color: var(--accent-text-color);
}

.logo-span {
    color: var(--accent-text-color);
}

/* Autirizator */

.nav-aut a {
color: var(--primary-text-color);
}

.nav-aut a:hover,
.nav-aut a:focus{
    color: var(--accent-text-color);
}

/* bg */

/* Section */

.section-title {
    color: var(--title-text-color);
}

.clients{
    background-color: #F5F4FA;
}


/* Skills */

.ul-skills .title{
    color: var(--title-text-color);
}

/* Our comand */
.employee {
    color: var(--title-text-color);
}


